<p>You have attempted to purchase/renew a membership, but we see that you
  currently have a membership that expires on <%= long_date(ends_on) %>. You may
  renew your membership once your current membership expires.</p>
