<div id="email-confirmation">
  <%= simple_form_for @email_confirmation, url: email_confirmation_path do |f| %>
    <header>
      <h2>Please Confirm Your Email Address</h2>
    </header>
    <section>
      <p>You must confirm your email address before logging in. You should
        receive an email message sent to the address associated with your
        account containing the confirmation code and instructions for
        confirmation.</p>

      <p>If you did not receive your email confirmation code, and you are sure
        that you entered the correct address, you may <%= link_to 'request a new
        email confirmation code', email_confirmation_token_path %>.</p>

      <p><em>Accounts that have not been confirmed within one week will be
          automatically removed.</em></p>
    </section>

    <%= f.input :confirmation_token %>

    <div class="form-action-buttons">
      <%= f.submit 'Confirm' %>
    </div>
  <% end %>
</div>
