<div id="manage-users-sidebar">
  <ul class="nav">
    <%= main_nav_link('Members', admin_users_path) %>
    <%= main_nav_link('Membership Types', admin_membership_types_path, show_sub: managing?(:membership_types)) do %>
      <li> <%= link_to 'Create Membership Type', new_admin_membership_type_path %></li>
    <% end %>
  </ul>
</div>
