<div id="manage-users-sidebar">
  <ul class="nav">
    <%= main_nav_link('User Accounts', admin_users_path) %>
    <%= main_nav_link('Membership Types', admin_membership_types_path) %>
  </ul>
</div>
