<p>Your account has been created, but you must confirm your email address before
  logging in. We've sent a confirmation code and instructions for confirming
  your account to <strong><%= user.email %></strong>. If that is not your
  correct email address, you will need to <%= link_to 'create a new account',
  new_user_path %> using the correct email address.</p>
