<p>All team members are expected to abide by the following rules:</p>

<ol>
  <li>Minimum clothing purchase of current-year team kit clothing is 1 QTY
    of each: Short Sleeve Jersey and Bibs.</li>

  <li>Maintain a good public image and represent Team Oregon, sponsors, and
    other stakeholders positively through good sportsmanship and public
    actions. This includes public interactions both online (blogs, social
    media, email lists, etc) and offline (at races, events, etc).</li>

  <li>Avoid strong language in public while representing the team</li>

  <li>Adhere to the OBRA and/or USA Cycling rules. Ensure that team name is
    associated with your membership when signing up (Team Oregon p/b Rodda
    Paint)</li>

  <li>Don't extend team discounts to friends. If they like our deals, invite
    them to join the team!</li>

  <li>Guest riding on another team is permitted with Team Oregon leadership
    approval.</li>

  <li>Treat teammates, team leadership, race officials, volunteers, race
    promoters and other riders with respect at all times.</li>

  <li>Treat spectators and race fans with respect while promoting Team
    Oregon in a friendly and approachable manner</li>

  <li>Riders are responsible for knowing and abiding by the anti-doping
    rules and regulations.</li>

  <li>Disputes or concerns between riders and/or team management are to be
    addressed immediately through team management to quickly resolve
    issues.</li>
</ol>
