<%
  show_sidebar!
  page_title 'Join the Team'
%>
<div id="join-team">
  <section id="welcome">
    <h2>Join the Team</h2>

    <p>Thank you for your interest in Team Oregon! We're looking forward to
      another excellent season of Road, Track, Mountain Bike and Cyclocross
      events.</p>

    <p>Team Oregon welcomes cyclists of <em>all</em> backgrounds and abilities.
      Whether you are an experienced racer or are thinking of pinning on a race
      number for the first time this season, we would love to support your goals
      as a member of our team.</p>

    <p>Benefits of team membership include:</p>

    <ul>
      <li>Discounted products or services from many of our sponsors</li>
      <li>Discounts on certain race entry fees (these can easily add up to more
        than what your membership costs over the course of a single season.)</li>
      <li>Awesome teammates who show up to race (we won the OBRA Team BAR
        competition in
        <a href="http://obra.org/bar/2015/team/team_bar">2015</a>,
        <a href="http://obra.org/bar/2016/team/team_bar">2016</a>,
        and <a href="http://obra.org/bar/2017/team/team_bar">2017</a>!)</li>
    </ul>

    <p>Membership dues are currently $65.00 per year for regular, adult members
      or $10.00 per year for juniors, and full-time students.</p>


    <h3>How to Sign Up</h3>

    <p>We are currently replacing our membership registration system and are
      processing new memberships and renewals manually while that is in
      progress. If you would like to sign up, renew your existing membership,
      please
      <%= link_to 'contact us.',
        new_contact_path(reason: 'membership_inquiry') %>, and we will arrange
      payment of your dues and add you to our roster.
    </p>
  </section>

  <section id="code-of-conduct">
    <h3>Team Oregon Code of Conduct</h3>

    <p>All team members are expected to abide by the following rules:</p>

    <ol>
      <li>Minimum clothing purchase of current-year team kit clothing is 1 QTY
        of each: Short Sleeve Jersey and Bibs.</li>

      <li>Maintain a good public image and represent Team Oregon, sponsors, and
        other stakeholders positively through good sportsmanship and public
        actions. This includes public interactions both online (blogs, social
        media, email lists, etc) and offline (at races, events, etc).</li>

      <li>Avoid strong language in public while representing the team</li>

      <li>Adhere to the OBRA and/or USA Cycling rules. Ensure that team name is
        associated with your membership when signing up (Team Oregon p/b Rodda
        Paint)</li>

      <li>Don't extend team discounts to friends. If they like our deals, invite
        them to join the team!</li>

      <li>Guest riding on another team is permitted with Team Oregon leadership
        approval.</li>

      <li>Treat teammates, team leadership, race officials, volunteers, race
        promoters and other riders with respect at all times.</li>

      <li>Treat spectators and race fans with respect while promoting Team
        Oregon in a friendly and approachable manner</li>

      <li>Riders are responsible for knowing and abiding by the anti-doping
        rules and regulations.</li>

      <li>Disputes or concerns between riders and/or team management are to be
        addressed immediately through team management to quickly resolve
        issues.</li>
    </ol>

    <p>Thank You,<br />
      Team Oregon Leadership</p>
  </section>
</div>
