<%
  hide_sidebar!
  hide_sidebar_sponsors!
  page_title('Our Sponsors')
%>
<div id="sponsors">
  <div id="title-sponsor">
    <h2>Team Oregon is proud to be presented by</h2>
    <%= render partial: 'sponsor', object: title_sponsor %>
  </div>

  <h2>Sponsors</h2>

  <%= render partial: 'sponsor', collection: other_sponsors %>
</div>
