<%
  show_sidebar!
  page_title 'Message Sent'
%>
<div id="contact">
  <h2>Contact Us</h2>

  <div class="alert alert-success">
    Your message has been sent. We will do our best to repsond promptly, and we
    thank you for understanding that we are staffed by part-time volunteers and
    may take a few days to get back to you.
  </div>
</div>
