@import "application";

body {
  background-color: $light;
}

.main-content {
  .btn {
    line-height: 1.0;
  }
}

.btn.disabled {
  cursor: not-allowed;
}

.current-member {
  @extend .text-success;
}

.pending-member {
  @extend .text-warning;
}

.expired-member {
  @extend .text-danger;
}

.none-member {
  @extend .text-muted;
}

#page-header {
  @extend .bg-warning;
}

#content {
  max-width: none;
  @extend .container-fluid;
}

#manage-users {
  @extend .main-content;

  #user-listing {
    @extend .table;
    @extend .table-striped;
    @extend .table-hover;
    @extend .table-sm;

    tbody {
      font-size: 0.8rem;
    }

    td, th {
      @extend .align-middle;
    }

    .roles {
      ul {
        @extend .list-inline;
        @extend .my-0;

        li {
          @extend .list-inline-item;
        }
      }
    }

    .actions {
      @extend .text-right;
    }
  }
}

#user-details {
  @extend .main-content;

  >header {
    text-align: center;
  }

  >div {
    @extend .d-flex;
    @extend .flex-wrap;

    >div {
      @extend .card;
      @extend .m-3;

      >h3 {
        @extend .card-header;
      }
    }
  }

  #account-info {
    dl {
      @extend .card-body;
    }
  }

  #membership-history {
    >div {
      @extend .card-body;
    }

    table {
      @extend .table;
      @extend .table-striped;
      @extend .table-sm;

      tbody {
        tr.expired-member {
          @extend .text-muted;
        }

        tr.expired-member:first-of-type {
          @extend .text-danger;
        }
      }
    }
  }

  #roles {
    >div {
      @extend .card-body;
    } 
  }
}

#edit-user {
  @extend .main-content;

  >form {
    @extend .card;
    max-width: 40rem;
    @extend .mx-auto;
    @extend .mb-3;

    >header {
      @extend .card-header;
      text-align: center;
    }

    >div {
      @extend .card-body;
    }

    .form-group {
      @extend .row;

      >input {
        @extend .col-sm-9;
      }

      >label {
        @extend .col-sm-3;
        @extend .col-form-label;
      }
    }
  }
}
