/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: false;

$dark: #3E3E3F;

$primary: #6FAAC2;
$info:    #A4D9D2;

$body-bg: $dark;

@import "bootstrap";

form abbr[title="required"] {
  text-decoration: none;
  @extend .text-danger;
}

body {
  padding-top: 3.7em;
}

.btn {
  svg {
    fill: $white;
  }
}

.cancel-button {
  @extend .btn;
  @extend .btn-danger;
}

.alert-error {
  @extend .alert-danger;
 }

.alert-alert {
  @extend .alert-danger;
 }

.alert-notice {
  @extend .alert-success;
 }

.main-content {
  .btn {
    line-height: 1.0;
  }

  form {
    @extend .primary-form;
  }
}

.primary-form {
  @extend .card;
  max-width: 40rem;
  @extend .mx-auto;
  @extend .mb-3;

  .help-block {
    @extend .col-sm-8;
    @extend .offset-md-4;
  }

  >header {
    @extend .card-header;
    text-align: center;
  }

  >p, >div, >section {
    @extend .card-body;
  }

  .form-group {
    @extend .form-row;

    >.form-control {
      @extend .col-sm-8;
    }

    >.control-label {
      @extend .col-sm-4;
      @extend .col-form-label;
    }

    >.control-label::after {
      content: ":";
    }

    >.no-indent-checkbox {
      @extend .col-sm-12;
      @extend .row;

      .checkbox {
        @extend .col-sm-1;
      }

      label {
        @extend .col-sm-11;
      }
    }

    >.checkbox {
      padding: 0;
      @extend .col-sm-8;
      @extend .offset-sm-4;
      @extend .row;

      input[type="checkbox"] {
        @extend .col-sm-1;
      }

      label {
        @extend .col-sm-11;
      }
    }
  }
}

.btn.disabled {
  cursor: not-allowed;
}

.btn-new {
  @extend .btn;
  @extend .btn-primary;
}

.form-action-buttons {
  @extend .col-sm-8;
  @extend .offset-sm-4;
  padding: 0;
  text-align: right;
  input[type="submit"], button {
    @extend .btn;
  }

  input[type="submit"] {
    @extend .btn-success;
  }
}

.form-group.check_boxes {
  .checkbox {
    @extend .pt-2;
    input {
      @extend .mr-3;
    }
  }
}

.form-group.boolean {
  .checkbox {
    @extend .offset-4;

    input {
      @extend .mr-3;
    }
  }
}

.help-block {
  @extend .form-text;
  @extend .text-muted;
  font-size: 0.8rem;
}

.has-error {

  .form-control {
    @extend .border;
    @extend .border-danger;
  }

  .help-block {
    @extend .text-danger;
  }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FFFBCC;
}

th.boolean, td.boolean {
  text-align: center;
}

th.numeric, th.money, td.numeric, td.money {
  text-align: right;
}

th, td {
  @extend .px-3;
}

#alerts {
  margin-top: -1em;
  margin-bottom: 1em;
  margin-left: -15px;
  margin-right: -15px;
}

#page-header {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-light;
  @extend .bg-primary;
  @extend .fixed-top;
  z-index: 99;

  #header-logo {
    @extend .navbar-brand;
    @extend .mr-0;
    @extend .mr-md-2;
  }

  #navbarSupportedContent {
    @extend .collapse;
    @extend .navbar-collapse;

    > ul {
      @extend .navbar-nav;

      > li {
        @extend .nav-item;

        > a {
          @extend .nav-link;
        }
      }
    }

    #user-links {
      @extend .ml-md-auto;

      #logged-in-user-links {
        @extend .nav-item;
        @extend .dropdown;

        #user-dropdown {
          @extend .nav-link;
          @extend .dropdown-toggle;
        }

        .dropdown-menu {
          ul {
            @extend .list-unstyled;
          }
          a {
            @extend .dropdown-item;
          }
        }
      }
    }
  }
}

#content {
  @extend .container;
  background-color: $light;
  @extend .pt-3;
  @extend .pb-3;
  @extend .rounded;
}

#content:not(.sidebar) {
  .main-content {
    @extend .col-12;

    .intro {
    }
  }
}

#content.sidebar {
  .main-content {
    @extend .col-md-8;
  }

  #sidebar {
    @extend .col-md-4;

    #jersey {
      @extend .card;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    #sb-sponsors {
      @extend .card;

      h2 {
        display: none;
      }

      h3 {
        font-size: 1.2rem;
        text-align: center;
        @extend .mt-3;
        @extend .mb-0;
      }

      ul {
        @extend .list-unstyled;
        @extend .card-body;

        > li {
          text-align: center;
        }

        ul li {
          display: inline-block;
        }
      }

      img {
        @extend .mw-100;
        @extend .m-1;
        max-height: 5em;
      }

      #sb-title-sponsor img {
        max-height: 10em;
      }
    }
  }
}

#about-us {
  @extend .main-content;

  > section {
    @extend .col-12;
  }

  #team-photo {
    @extend .mb-3;
    @extend .w-100;
    @extend .rounded;
  }

  #leaders {
    @extend .border-top;
    @extend .pt-3;
    @extend .mt-5;

    h2 {
      text-align: center;
    }

    >div {
      @extend .card-group;
    }

    .leader-bio {
      @extend .card;
      @extend .m-1;
      @extend .border;

      header {
        @extend .card-header;
      }

      .headshot {
        @extend .w-100;
        height: 15em;

        img {
          @extend .mx-auto;
          display: block;
          width: 250px;
          @extend .mw-100;
          @extend .mh-100;
          @extend .rounded;
        }
      }

      .bio {
        @extend .card-body;

        .email {
          text-align: center;
        }
      }
    }
  }
}

#sponsors {
  @extend .main-content;

  h2 {
    @extend .my-5;
    text-align: center;
  }

  .sponsor {
    @extend .card;
    @extend .my-5;

    h4::before {
      display: block; 
      content: " "; 
      margin-top: -6em; 
      height: 6em; 
      visibility: hidden; 
    }

    > div {
      @extend .row;

      .logo {
        @extend .col-md-2;
        @extend .card-body;
        text-align: center;

        img {
          @extend .mx-3;
          max-width: 100%;
          max-height: 10em;
        }
      }

      .sponsor-description {
        @extend .col-md-10;
        @extend .card-body;
        @extend .p-5;

        .social {
          @extend .row;

          .links {
            @extend .col-md-7;
          }

          .hashtags {
            @extend .col-md-5;

            ul {
              li:before {
                content: '#';
              }
            }
          }
        }
      }
    }
  }

  #title-sponsor {
    font-size: 1.2rem;

    .logo {
      @extend .col-12;
      img {
        max-height: 100%;
        height: 20rem;
      }
    }

    .sponsor-description {
      @extend .col-12;
    }
  }
}

#contact, #code-of-conduct {
  @extend .main-content;
}

#new-user {
  @extend .main-content;

  >section {
    @extend .col-12;
  }

  #new-user-maybe-login {
    @extend .jumbotron;
    padding: 1em;
  }
}

#join-team,
#new-session,
#email-confirmation,
#new-email-confirmation,
#new-membership,
#membership-payment,
#reset-password,
#edit-password
{
  @extend .main-content;
}

#membership-payment {
  >section {
    max-width: 40em;
    margin: auto;
  }
}

#membership-types {
  @extend .table;
  @extend .table-striped;
  @extend .table-sm;
  @extend .table-hover;
  font-size: 0.8rem;

  .btn-enroll {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
  }
}

#user-details {
  >header {
    text-align: center;
  }

  >div {
    @extend .d-flex;
    @extend .flex-wrap;

    >div {
      @extend .card;
      @extend .m-3;

      >h3 {
        @extend .card-header;
      }
    }
  }

  #account-info {
    dl {
      @extend .card-body;
    }
  }

  #membership-history {
    header {
      @extend .card-header;
    }

    >div {
      @extend .card-body;
    }

    table {
      @extend .table;
      @extend .table-striped;
      @extend .table-sm;

      tbody {
        tr.expired-member {
          @extend .text-muted;
        }

        tr.expired-member:first-of-type {
          @extend .text-danger;
        }
      }
    }
  }

  #roles {
    >div {
      @extend .card-body;
    } 
  }
}
