/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;

$dark: #3E3E3F;

$primary: #22BCAC;
$info:    #A4D9D2;

$body-bg: $dark;

@import "bootstrap";

.btn {
  svg {
    fill: $white;
  }
}

.alert-error {
  @extend .alert-danger;
 }

.alert-alert {
  @extend .alert-danger;
 }

.alert-notice {
  @extend .alert-success;
 }

.form-action-buttons {
  text-align: center;
}

.form-group.check_boxes {
  .checkbox {
    @extend .pt-2;
    input {
      @extend .mr-3;
    }
  }
}

.help-block {
  @extend .form-text;
  @extend .text-muted;
  font-size: 0.8rem;
}

.has-error {

  .form-control {
    @extend .border;
    @extend .border-danger;
  }

  .help-block {
    @extend .text-danger;
  }
}

#page-header {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-light;
  @extend .bg-primary;
  @extend .fixed-top;

  #header-logo {
    @extend .navbar-brand;
    @extend .mr-0;
    @extend .mr-md-2;
  }

  #navbarSupportedContent {
    @extend .collapse;
    @extend .navbar-collapse;

    > ul {
      @extend .navbar-nav;

      > li {
        @extend .nav-item;

        > a {
          @extend .nav-link;
        }
      }
    }

    #user-links {
      @extend .ml-md-auto;

      #logged-in-user-links {
        @extend .nav-item;
        @extend .dropdown;

        #user-dropdown {
          @extend .nav-link;
          @extend .dropdown-toggle;
        }

        .dropdown-menu {
          ul {
            @extend .list-unstyled;
          }
          a {
            @extend .dropdown-item;
          }
        }
      }
    }
  }
}

#content {
  @extend .container;
  background-color: $light;
  padding-top: 6em;
}

#content:not(.sidebar) {
  .main-content {
    @extend .col-12;

    .intro {
    }
  }
}

#content.sidebar {
  .main-content {
    @extend .col-md-8;
  }

  #sidebar {
    @extend .col-md-4;

    #sb-sponsors {
      @extend .card;

      h2 {
        display: none;
      }

      h3 {
        font-size: 1.2rem;
        text-align: center;
        @extend .mt-3;
        @extend .mb-0;
      }

      ul {
        @extend .list-unstyled;
        @extend .card-body;

        > li {
          text-align: center;
        }

        ul li {
          display: inline-block;
        }
      }

      img {
        @extend .mw-100;
        @extend .m-1;
        max-height: 5em;
      }

      #sb-title-sponsor img {
        max-height: 10em;
      }
    }
  }
}

#devise {
  @extend .main-content;
}

#about-us {
  @extend .main-content;

  > section {
    @extend .col-12;
  }

  #team-photo {
    @extend .mb-3;
    @extend .w-100;
    @extend .rounded;
  }

  #leaders {
    @extend .border-top;
    @extend .pt-3;
    @extend .mt-5;

    h2 {
      text-align: center;
    }

    >div {
      @extend .card-group;
    }

    .leader-bio {
      @extend .card;
      @extend .m-1;
      @extend .border;

      header {
        @extend .card-header;
      }

      .headshot {
        @extend .w-100;
        height: 15em;

        img {
          @extend .mx-auto;
          display: block;
          width: 250px;
          @extend .mw-100;
          @extend .mh-100;
          @extend .rounded;
        }
      }

      .bio {
        @extend .card-body;

        .email {
          text-align: center;
        }
      }
    }
  }
}

#sponsors {
  @extend .main-content;

  h2 {
    @extend .my-5;
    text-align: center;
  }

  .sponsor {
    @extend .card;
    @extend .my-5;

    h4::before {
      display: block; 
      content: " "; 
      margin-top: -6em; 
      height: 6em; 
      visibility: hidden; 
    }

    > div {
      @extend .row;

      .logo {
        @extend .col-md-2;
        @extend .card-body;
        text-align: center;

        img {
          @extend .mx-3;
          max-width: 100%;
          max-height: 10em;
        }
      }

      .sponsor-description {
        @extend .col-md-10;
        @extend .card-body;
        @extend .p-5;

        .social {
          @extend .row;

          .links {
            @extend .col-md-7;
          }

          .hashtags {
            @extend .col-md-5;

            ul {
              li:before {
                content: '#';
              }
            }
          }
        }
      }
    }
  }

  #title-sponsor {
    font-size: 1.2rem;

    .logo {
      @extend .col-12;
      img {
        max-height: 100%;
        height: 20rem;
      }
    }

    .sponsor-description {
      @extend .col-12;
    }
  }
}

#devise {
  #error_explanation {
    @extend .card;
    @extend .text-white;
    @extend .bg-danger;

    h1, h2, h3, h4, h5, h6 {
      @extend .card-header;
      font-size: 1.5em;
    }

    ul {
      @extend .card-body;
    }
  }
}
