<% page_title 'Admin - Edit User' %>
<div id="edit-user">
  <%= render 'form', user: controller.user do %>
    <header>
      <h2>Edit User</h2>
      <%= render 'user_action_buttons', user: controller.user %>
    </header>
  <% end %>
</div>
