<% page_title 'Admin - Members' %>
<div id="manage-users">
  <table id="user-listing">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Membership Status</th>
        <th>Membership Type</th>
        <th>On Mailing List</th>
        <th>Has Slack Invite</th>
        <th>Roles</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'user_row', as: 'user', collection: controller.users %>
    </tbody>
  </table>
</div>
