<p>Although you have an account on our website, you have not yet paid your
  membership dues to become a full member of the team.</p>

<p>Please
  <%= link_to 'complete your membership enrollment', new_membership_path %>
  today in order to access all member areas of the website, take advantage of
  sponsor discounts, and be added to the team email list and other private
  communication channels.<p>
