<div id="alerts">
<% flash.to_hash.except('timedout').each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <% if value.is_a?(Array) %>
      <ul>
        <li>
          <%= value.html_safe %>
        </li>
      </ul>
    <% else %>
      <p><%= value.html_safe %></p>
    <% end %>
  </div>
<% end %>
</div>
