<div id="sb-sponsors">
  <h2>Sponsors</h2>
  <ul>
    <li id="sb-title-sponsor">
      <h3>Presented By</h3>
      <ul>
        <%= render partial: 'layouts/mini_sponsor',
                   object: title_sponsor %>
      </ul>
    </li>
    <li>
      <h3>Sponsors</h3>
      <ul>
          <%= render partial: 'layouts/mini_sponsor',
                     collection: other_sponsors %>
        <%
          {
            northlake: 'North Lake Physical Therapy',
            castelli: 'Castelli',
            organic_partners: 'Organic Partners International',
            green_drop: 'Green Drop Garage',
            backporch: 'Backporch Coffee',
            river_city: 'River City Bicycles',
            re_sports: 'RE Sports Wellness/Melissa Shays',
            o2_endurance: 'O2 Endurance',
            nuun: 'Nuun'
          }.each do |slug, name|
        %>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
